<!DOCTYPE html>
<html lang="en">
<head> <title>Dashboard</title> </head>
<body>
  <h1>Your Giveaways</h1>
  <% giveaways.forEach(g => { %>
    <p><%= g.roomName %> (Referrals: <%= g.referralCount %>)</p>
  <% }); %>
  <a href="/create-giveaway">Create Giveaway</a>
  <a href="/logout">Logout</a>
</body>
</html>
