<!DOCTYPE html>
<html lang="en">
<head> <title>Giveaways</title> </head>
<body>
  <h1>Giveaways</h1>
  <% giveaways.forEach(g => { %>
    <a href="/giveaway/<%= g.code %>/join"><%= g.roomName %> (Referrals: <%= g.referralCount %>)</a><br>
  <% }); %>
  <a href="/login">Login</a> | <a href="/signup">Signup</a>
</body>
</html>
